.welcome__subtitle {   
  margin: 0;
  padding: 0;
  padding-top: 14px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 125%;
  text-align: center;
  letter-spacing: 1px;
  color: #000000;
}